@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Prompt", serif; */
  /* font-family: "Poppins", serif; */
  /* font-family: "Playwrite GB S", serif; */
  /* font-family: "Arima", serif; */
}
